<!DOCTYPE html>
<html lang="en">


<head>

<script type = "text/javascript" src = "Accounts.js"></script>
</head>


<body>

<h1>Account Data</h1>

<table>
    <tr>
        <th>accountName</th>
        <th>balance</th>
    </tr>
    {{#users}}
    <tr>

        <td>{{name}}</td>
        <td>£{{balance}}</td>
    </tr>
    {{/users}}
</table>

</body>
</html>

